/* ======================================================== */
/* font : NotoSansKR */
/* ======================================================== */
@font-face {
  font-family: "NotoSansKR-100";
  src: url("../fonts/NotoSansKR-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: "NotoSansKR-300";
  src: url("../fonts/NotoSansKR-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansKR-400";
  src: url("../fonts/NotoSansKR-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansKR-500";
  src: url("../fonts/NotoSansKR-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansKR-700";
  src: url("../fonts/NotoSansKR-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansKR-900";
  src: url("../fonts/NotoSansKR-Black.otf");
  font-weight: 900;
}

/* ======================================================== */
/* font defualt(미정) */
/* ======================================================== */
body {
  font-family: "NotoSansKR-400"; 
  /* font-size: 16px;  */
  /* line-height: 1.4;  */
  /* color: #333; */
}

/* ======================================================== */
/* font-weight */
/* ======================================================== */
.font-bold-100 {font-family: "NotoSansKR-100" !important;}
.font-bold-300 {font-family: "NotoSansKR-300" !important;}
.font-bold-400 {font-family: "NotoSansKR-400" !important;}
.font-bold-500 {font-family: "NotoSansKR-500" !important;}
.font-bold-700 {font-family: "NotoSansKR-700" !important;}
.font-bold-900 {font-family: "NotoSansKR-900" !important;}

/* ======================================================== */
/* font-size */
/* ======================================================== */
.font-24 {font-size: 24px !important;}
.font-23 {font-size: 23px !important;}
.font-22 {font-size: 22px !important;}
.font-21 {font-size: 21px !important;}
.font-20 {font-size: 20px !important;}
.font-19 {font-size: 19px !important;}
.font-18 {font-size: 18px !important;}
.font-17 {font-size: 17px !important;}
.font-16 {font-size: 16px !important;}
.font-15 {font-size: 15px !important;}
.font-14 {font-size: 14px !important;}
.font-13 {font-size: 13px !important;}
.font-12 {font-size: 12px !important;}

/* ======================================================== */
/* title set(미정) */
/* ======================================================== */
h1, .h1 {
  font-size: 40px;
  font-family: "NotoSansKR-700"; 
  letter-spacing: -0.5px !important;
}

h2, .h2 {
  font-size: 32px;
  font-family: "NotoSansKR-700"; 
  letter-spacing: -0.5px !important;
}

h3, .h3 {
  font-size: 24px;
  font-family: "NotoSansKR-700"; 
  letter-spacing: -0.5px !important;
}

h4, .h4 {
  font-size: 20px;
  font-family: "NotoSansKR-700"; 
  letter-spacing: -0.5px !important;
}

h5, .h5 {
  font-size: 18px;
  font-family: "NotoSansKR-700";
  letter-spacing: -0.5px !important;
}

h6, .h6 {
  font-size: 16px;
  font-family: "NotoSansKR-700"; 
  letter-spacing: -0.5px !important;
}

/* ======================================================== */
/* Paragraph set(미정) */
/* ======================================================== */
.font-17-400 {
  font-family: "NotoSansKR-400" !important;
  font-size: 17px !important;
  line-height: 25px !important;
}
.font-17-500 {
  font-family: "NotoSansKR-500" !important;
  font-size: 17px !important;
  line-height: 25px !important;
}
.font-17-700 {
  font-family: "NotoSansKR-700" !important;
  font-size: 17px !important;
  line-height: 25px !important;
}
.font-16-400 {
  font-family: "NotoSansKR-400" !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.font-16-500 {
  font-family: "NotoSansKR-500" !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.font-16-700 {
  font-family: "NotoSansKR-700" !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.font-15-400 {
  font-family: "NotoSansKR-400" !important;
  font-size: 15px !important;
  line-height: 23px !important;
}
.font-15-500 {
  font-family: "NotoSansKR-500" !important;
  font-size: 15px !important;
  line-height: 23px !important;
}
.font-15-700 {
  font-family: "NotoSansKR-700" !important;
  font-size: 15px !important;
  line-height: 23px !important;
}
.font-14-400 {
  font-family: "NotoSansKR-400" !important;
  font-size: 14px !important;
  line-height: 22px !important;
}
.font-14-500 {
  font-family: "NotoSansKR-500" !important;
  font-size: 14px !important;
  line-height: 22px !important;
}
.font-12-400 {
  font-family: "NotoSansKR-400" !important;
  font-size: 12px !important;
  line-height: 20px !important;
}
.font-12-500 {
  font-family: "NotoSansKR-500" !important;
  font-size: 12px !important;
  line-height: 20px !important;
}

/* icon-size(추가되어야함) */
.text-icon-10 {font-size: 10px !important;}
.text-icon-12 {font-size: 12px !important;}
.text-icon-14 {font-size: 14px !important;}
.text-icon-16 {font-size: 16px !important;}
.text-icon-18 {font-size: 18px !important;}
.text-icon-20 {font-size: 20px !important;}
.text-icon-22 {font-size: 22px !important;}
.text-icon-24 {font-size: 24px !important;}
.text-icon-26 {font-size: 26px !important;}
.text-icon-28 {font-size: 28px !important;}
.text-icon-30 {font-size: 30px !important;}
.text-icon-40 {font-size: 40px !important;}
.text-icon-50 {font-size: 50px !important;}


/* ======================================================== */
/* line-height */
/* ======================================================== */
.lh-basic {   /* 1.5 */
  line-height: unset !important;
}
.lh-0 {
  line-height: 0 !important;
}
.lh-100 {     /* 100% */
  line-height: 1 !important;
}
.lh-110 {     /* 110% */
  line-height: 1.1 !important;
}
.lh-120 {     /* 120% */
  line-height: 1.2 !important;
}
.lh-130 {     /* 130% */
  line-height: 1.3 !important;
}
.lh-140 {     /* 140% */
  line-height: 1.4 !important;
}
.lh-150 {     /* 150% */
  line-height: 1.5 !important;
}
.lh-160 {     /* 160% */
  line-height: 1.6 !important;
}
.lh-170 {     /* 170% */
  line-height: 1.7 !important;
}
.lh-180 {     /* 180% */
  line-height: 1.8 !important;
}
.lh-190 {     /* 190% */
  line-height: 1.9 !important;
}

/* ======================================================== */
/* text-align */
/* ======================================================== */
.text-l {
  text-align: left !important;
}
.text-c {
  text-align: center !important;
}
.text-r {
  text-align: right !important;
}

/* ======================================================== */
/* word-break */
/* ======================================================== */
.keep-all{word-break: keep-all;}

/* ======================================================== */
/* underline */
/* ======================================================== */
.underline {
  text-decoration: underline !important;
  text-underline-position: under !important;
  text-underline-offset: 2px !important;
}

/* ======================================================== */
/* selection color(drag) */
/* ======================================================== */
::selection {background-color: #e6f0f8; color: #666;}

a{color: #3C61B5; font-family: "NotoSansKR-500";}
a:hover{color: #1882C2;}




/* ======================================================== */
/* font-color */
/* ======================================================== */
.text-blue{color: #1B6DD5 !important;}
.text-blue2{color: #0B74DD !important;}
.text-navy{color: #005CA0 !important;}
.text-navy-2{color: #133880 !important;}
.text-navy-3{color: #303F9F !important;}
.text-navy-4{color: #084788 !important;}
.text-red{color: #D52626 !important;}
.text-white{color: #ffffff !important;}
.text-black{color: #222222 !important;}
.text-gray-900{color: #999999 !important;}
.text-gray-800{color: #888888 !important;}
.text-gray-700-icon{color: #7B86A7 !important}
.text-gray-700{color: #777777 !important}
.text-gray-600{color: #666666 !important;}
.text-gray-500{color: #555555 !important;}
.text-gray-400{color: #444444 !important;}
.text-color-none{color: transparent !important;}

/* ======================================================== */
/* Icon-color(only SVG) */
/* ======================================================== */
.icon-color-black{
  filter: brightness(0) saturate(100%) invert(11%) sepia(70%) saturate(18%) hue-rotate(338deg) brightness(92%) contrast(96%);
}
.icon-color-400{
  filter: brightness(0) saturate(100%) invert(26%) sepia(0%) saturate(2582%) hue-rotate(315deg) brightness(97%) contrast(93%);
}
.icon-color-800{
  filter: brightness(0) saturate(100%) invert(62%) sepia(11%) saturate(3%) hue-rotate(314deg) brightness(85%) contrast(83%);
}
.icon-color-blue{
  filter: brightness(0) saturate(100%) invert(41%) sepia(33%) saturate(4297%) hue-rotate(193deg) brightness(103%) contrast(95%);
}
.icon-color-yellow{
  filter: brightness(0) saturate(100%) invert(77%) sepia(44%) saturate(689%) hue-rotate(341deg) brightness(100%) contrast(102%);
}
.icon-color-red{
  filter: brightness(0) saturate(100%) invert(16%) sepia(65%) saturate(6292%) hue-rotate(358deg) brightness(95%) contrast(74%);
}
.icon-color-white{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7422%) hue-rotate(12deg) brightness(118%) contrast(114%);
}
.icon-color-green{
  filter: brightness(0) saturate(100%) invert(56%) sepia(86%) saturate(465%) hue-rotate(55deg) brightness(96%) contrast(91%);
}

/* ======================================================== */
/* Scroll */
/* ======================================================== */
::-webkit-scrollbar{width: 8px; height: 8px; background: #f3f3f3;}
::-webkit-scrollbar-track{background: #f3f3f3; border-radius: 8px;}
::-webkit-scrollbar-thumb{background-color: #dbdbdf; border-radius: 8px;}
html, div, .table-wrap, .overflow-auto{scrollbar-color: #dbdbdf #f3f3f3; scrollbar-width: thin;}

.scroll-hidden{overflow: hidden !important;}
.scroll-x-auto{overflow-x: auto !important;}
.scroll-y-auto{overflow-y: auto !important;}
.scroll-auto{overflow: auto !important;}
